body {
    font-family: 'Poppins';
    font-size: 16px;
}

.main-content {
    position: relative;
    top: 5.3125rem;
    background-color: #2C3333;
}

.center {
    text-align: center;
}


/* Header Styling */


header .mobile {
    display: none;
}

header {
    position:fixed;
    z-index: 100;
    width:100%;
    border-bottom: solid 1px #2c3333;
    background-color: #2C3333;
    align-items: center;
}

header .content {
    display: flex;
    padding: 1.875rem;
    font-family: 'Poppins';
}

header nav ul {
    display: flex;
}

header .logo {
    font-family: 'Poppins', 'Roboto';
    font-size: 32px;
    color: #A5C9CA;
    flex: 1;
    padding-left: 1rem;
}

header .icon {
    border-radius: 50%;
}

nav li {
    padding-left: 3.5rem;
    justify-content: flex-end;
}

nav .morepad {
    line-height: 1.6;
}

nav a {
    vertical-align: bottom;
    font-size: 1.5rem;
    color: #A5C9CA
}



@media only screen and (max-width: 760px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .logo {
        flex: 2;
    }

}

/* Welcome Section */

#welcome {
    /* padding: .5rem 20rem; */
    border: solid 1px #979797;
    border-radius: 4px;
    background-color: #395B64;
    justify-content: center;
    align-items: center;
}

#welcome .content {
    width: 100%;
    /* margin-top: 2rem; */
    font-family: 'Poppins';
    font-size: 1.25rem;
    line-height: 3;
    color: white;
}

#welcome h2 {
    font-size: 3rem;
    color: #A5C9CA;
}

#welcome p {
    font-size: 2rem;
    color: #E7F6F2;
}
